body,
html {
    margin: 0 !important;
    padding: 0 !important;
}
a {
    text-decoration: none;
    color: inherit;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #ffe3b8 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffe3b8;
    border-radius: 20px;
    /* border: 3px solid orange; */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fe9900;
}

.slick-arrow::before {
    content: '';
}

.slider-left,
.slider-right {
    width: 40px;
    height: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 35, 89, 0.1);
}
